Source: workloadmanager
Maintainer: TrilioData <info@triliodata.com>
Section: python
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 9)

Package: workloadmanager
Architecture: all
Depends: python-glanceclient, python-keystoneclient, python-novaclient, python-swiftclient, python-lxml, python-mqplib, python-anyjson, python-argparse, python-Babel, python-eventlet, python-greenlet, python-iso8601, python-kombu, python-lockfile, python-netaddr, python-oslo.config, python-paramiko, python-Paste, python-PasteDeploy, python-Routes, python-six, python-SQLAlchemy, python-sqlalchemy-migrate, python-stevedore, python-suds, python-WebOb, python-wsgiref
Description: This is the package for workloadmanager
 hi this is contego greeting the world

